# carthage bootstrap [RepositoryName] --no-use-binaries --platform ios --cache-builds
# or (beware!)
# carthage update [RepositoryName] --no-use-binaries --platform ios  --cache-builds
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxGesture"
github "RxSwiftCommunity/RxSwiftExt"